<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
{% load static %}
<script src="{% static 'home/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'home/home.js' %}"></script>
<link rel="stylesheet" href="{% static 'home/home.css' %}">
<title>home</title>
</head>
<body>
<h2>home template!</h2>
{{ hour }}時{{ minute }}分です。<br>
{{ message | safe }}<p />
<hr />
<a href='../file_upload/'>file_upload</a><p />
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="app" v-if="info">[[ info.data ]]</div>
<script>
new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data () {
    return {
      info: null
    }
  },

  mounted () {
    setInterval(this.greet, 1000);
  },

  methods: {
    greet: function () {
      axios
        .get('/on_process')
        .then(response => (this.info = response))

    }

  }

})
</script>
</body>
</html>
